
  .row div {
  background-color: green;
    margin-bottom: 10px;
    width: 90%;
    height:90%;
    padding:10px;
    text-align: center;
}


.container2{
  margin-bottom: 10px;
  padding:10px;
  border-radius: 10px;
  background-color: grey;
  
}


.row2 div{
  background-color: grey;
    margin-bottom: 20px;
    border-radius:20px;



}

.row3 div{
  background-color: green;
  margin-bottom: 20px;

}
